
<%- include('../templates/_head')-%>
<h1 class="text-center">Hacktiv8 Bank</h1>
<div class="d-flex justify-content-center">
  <a href="/customers" class="btn btn-primary" >Enter</a>
</div>
<%- include('../templates/_footer')-%>